#Theortical Questions

1. What are data structures, and why are they important?

  - Data structures are ways of organizing and storing data efficiently so that they can be accessed and manipulated in various ways. In programming and computer science, the term "data structure" refers to a collection of data values and the relationships between them, as well as the operations that can be performed on them.
  
    Data structures are important in various ways-
    
      - Efficiency: The choice of data structure directly impacts the performance of your program.

      -Optimizing Resources: Proper use of data structures ensures that the program uses memory and CPU resources efficiently.

      -Simplifying Problem Solving: Many problems can be simplified by choosing the right data structure.

      -Scalability: The correct data structure can make your program scalable. For instance, when dealing with large datasets.

2. Explain the difference between mutable and immutable data types with examples.

  i) Mutable Data Types:A mutable data type is one where the data or object can be modified after it is created. This means you can change, add, or remove elements of the data structure in place. Lists, Dictionaries, sets all are its examples.

In [ ]:
#Example of Mutable Data Type: Sets
my_set = {1, 2, 3}
my_set.add(4)    # Add an element
my_set.remove(2) # Remove an element
print(my_set)

{1, 3, 4}

ii) Immutable Data Types:An immutable data type is one where the data or object cannot be modified after it is created. If you attempt to change it, a new object is created instead. Strings, tuples are some examples of it

In [ ]:
#Example of Immutable Data Type: Strings
string1 = "Hello"
string1[3] = 'L'# This will raise an error!
print(string1)

3.  What are the main differences between lists and tuples in Python?

- In Python, lists and tuples are both used to store collections of items, but they differ in several key ways. Here's a breakdown of the main differences between them:

  i) Mutability:

    Lists: Mutable, meaning that you can modify the contents of a list after it is created (add, remove, or change elements).

    Tuples: Immutable, meaning that once a tuple is created, you cannot change, add, or remove elements from it. Any modification requires creating a new tuple.

  ii) Syntax:

    Lists: Defined using square brackets [ ].

    Tuples: Defined using parentheses ( ).
    
    iii) Methods:

    Lists: Lists have more built-in methods that allow modification (e.g., append(), extend(), remove(), pop(), sort(), reverse()).

    Tuples: Tuples have fewer methods, as they are immutable. Common methods include count() and index(), but you can't modify the tuple once created.

4.  Describe how dictionaries store data.

- In Python, dictionaries are an unordered collection of data that store key-value pairs. A key is used to uniquely identify an item, while the value is the data associated with that key. The primary purpose of a dictionary is to allow fast lookups, insertions, and deletions of data based on keys.

 A dictionary stores data in the form of key-value pairs:

    Key: A unique identifier used to access a value.

    Value: The data or object associated with the key.

  For example:
  
  my_dict = {"name": "Alice", "age": 25, "city": "New York"}

5.  Why might you use a set instead of a list in Python?

- Uniqueness of elements: If you need to ensure that all elements are unique, sets are perfect because they automatically eliminate duplicates.


- Fast membership testing: If you're frequently checking if an element is present in your collection, sets offer O(1) average-time complexity, whereas lists require O(n).


- Set operations: If you're performing operations like union, intersection, or difference, sets are built for this and are much more efficient than using lists with loops.


- Unordered collections: If the order of elements doesn't matter, sets can be more efficient because they don't maintain order, and they automatically handle uniqueness.

6.  What is a string in Python, and how is it different from a list?

- A string in Python is a sequence of characters, typically used to represent text data. It’s one of the most commonly used data types for handling textual information. Strings are immutable, meaning once they are created, their content cannot be changed.

    i) String: Strings are immutable, meaning that once a string is created, you cannot change its contents.
    List: Lists are mutable, meaning that you can change, add, or remove elements from a list after it is created.

  ii) If you're adding items to a collection but want to ensure that each item only appears once, sets are the better choice. With lists, you'd need to manually check if an item already exists before adding it.

7.  How do tuples ensure data integrity in Python?

- Tuples in Python help ensure data integrity primarily through their immutability. This characteristic means that once a tuple is created, its contents cannot be altered—neither the order of elements nor the elements themselves can be changed. This makes tuples a great choice when you want to safeguard the integrity of your data, ensuring that it remains constant throughout the program.

8.  What is a hash table, and how does it relate to dictionaries in Python?

- A hash table (also known as a hash map) is a data structure that allows you to store key-value pairs in such a way that you can quickly retrieve the value associated with a given key. The underlying idea is to use a hash function to convert the key into an index in an array (called a bucket), where the value is stored. The key-value pairs are organized using this hash function, making lookups very efficient—ideally, with an average time complexity of O(1).

    - Hashing in Dictionaries: When you insert a key-value pair into a Python dictionary, Python computes the hash value for the key and stores the pair in the corresponding location in the hash table. When you perform a lookup or check for the existence of a key, Python hashes the key and retrieves the value in constant time.

In [ ]:
#Example:

my_dict = {"name": "Alice", "age": 25}

# Python uses a hash table to quickly find the value associated with "name"
print(my_dict["name"])

Alice

9.  Can lists contain different data types in Python?

- Yes, lists in Python can contain different data types. One of the key features of Python lists is that they are heterogeneous, meaning you can store elements of various types (integers, strings, floats, booleans, other lists, and even custom objects) in the same list.

In [ ]:
#Examples for different data types in a List
my_list= [4, 7.8, True, "Avi", 5+6j]
type(my_list[3])# In this way we can see all data types are there, 4=int, 7.8= float, True= boolean, 5+6j= complex.

str

10.  Explain why strings are immutable in Python.

- String immutability in Python is a deliberate design choice that brings multiple advantages, including:

    - Performance optimization through memory sharing and caching.

    -Thread safety by ensuring strings can’t be modified while accessed by multiple threads.

    - Predictable behavior and simpler debugging.

    - The ability to use strings as dictionary keys or set elements.
    -Consistency in string methods, which return new strings rather than modifying the original.

11. What advantages do dictionaries offer over lists for certain tasks?

- When you need fast lookups based on a key rather than an index.

- When you need to associate keys with values (e.g., mapping user IDs to usernames).

- When handling missing data or needing default values for keys.

- When you need to enforce unique keys or ensure fast membership tests.

- When you want to use key-value pairs to model more complex relationships between data.

12. Describe a scenario where using a tuple would be preferable over a list.

-  In Python, tuples are immutable sequences, making them ideal for representing fixed collections of items that should not change throughout the program.

    Fixed Data Collections: When you have a set of values that should remain constant, such as geographical coordinates (latitude, longitude) or RGB color values. Using a tuple signals that the data is intended to be unchangeable, enhancing code clarity and safety.

13. How do sets handle duplicate values in Python?


- Sets in Python handle duplicate values by automatically removing them, ensuring that each element in a set is unique. This behavior makes sets ideal for scenarios where uniqueness is required.

In [ ]:
#Example- Creating a set with duplicate values
set1 = {1, 2, 3, 2, 1}

print(set1) # The set automatically removes duplicates

{1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?

- The 'in' operator checks for the presence of a value in a list, it checks for the presence of a key in a dictionary.

In [ ]:
#Example for use of "in" List
my_list = [1, 2, 3, 4, 5]
value = 3

if value in my_list:
    print(f"{value} is in the list.")
else:
    print(f"{value} is not in the list.")

3 is in the list.

In [ ]:
#Example for use of "in" Dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}
key = 'b'

if key in my_dict:
    print(f"'{key}' is a key in the dictionary.")
else:
    print(f"'{key}' is not a key in the dictionary.")

'b' is a key in the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not?

- In Python, tuples are immutable, meaning their elements cannot be modified after creation. This immutability ensures that once a tuple is defined, its contents remain constant throughout the program.The immutability of tuples is a fundamental design choice in Python, providing several benefits:

    Hashability: Since tuples are immutable, they can be used as keys in dictionaries, whereas lists cannot.

    Performance: Immutability allows for optimizations in memory usage and access speed.

    Safety: It prevents accidental modifications, ensuring data integrity.

16.  What is a nested dictionary, and give an example of its use case?

-  A nested dictionary in Python refers to a dictionary where the value of one or more keys is another dictionary. This structure allows for the representation of complex data hierarchies, making it particularly useful for modeling real-world entities with multiple attributes.

In [ ]:
employees = {
    'emp01': {'name': 'Rajat Sharma','age': 30},
    'emp02': {'name': 'Brijesh Gupta', 'age': 25},
    'emp03': {'name': 'Rajeev Thakur','age': 28}
}

brijesh_age = employees['emp02']['age']
print(brijesh_age)

25

17.  Describe the time complexity of accessing elements in a dictionary.

- Python dictionaries offer efficient O(1) average-case time complexity for element access, making them suitable for scenarios where quick lookups are essential. When you access a value in a dictionary using a key, Python computes the hash of the key to determine its position in the underlying hash table. This allows for quick retrieval of the associated value.

18. In what situations are lists preferred over dictionaries?

- In Python, lists are preferred over dictionaries in the following situations:

  1. Ordered Collection of Items
  2. Allowing Duplicate Elements
  3. Sequential Data
  4. Index-Based Access
  5. Homogeneous Data

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- In Python, dictionaries are considered unordered collections because they do not maintain the order of elements as they are inserted.

Impact on Data Retrieval:

Despite their unordered nature, dictionaries offer efficient data retrieval:

- Fast Lookups: Accessing a value by its key is a constant-time operation, O(1), due to the hash table's design.
    pythonlikeyoumeanit.com

- No Guaranteed Order: While retrieval by key is efficient, the order in which items are retrieved is not guaranteed. If the order of elements is important, you may need to use an OrderedDict or sort the dictionary's items explicitly.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.

- Differences in Data Retrieval:

    i) **Order:** Lists preserve the order of elements, making them suitable for scenarios where the sequence matters. Dictionaries, being unordered, are ideal when you need to associate unique keys with specific values.

    ii) **Access Method:** Lists require you to know the index of the element you want to access, which is efficient for sequential data. Dictionaries allow for direct access to values using keys, enabling faster lookups when the key is known.

#**Practical** **Questions**

1. Write a code to create a string with your name and print it.

In [ ]:
my_name= "Neetigya Bajpai"
print(my_name)

Neetigya Bajpai

2. Write a code to find the length of the string "Hello World".

In [ ]:
str1= "Hello World"
len(str1)

11

3.  Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
str2= "Python Programming"
sliced_str2= str2[:3]
print(sliced_str2)

Pyt

4.  Write a code to convert the string "hello" to uppercase.

In [ ]:
str3= "hello"
str_upper= str3.upper()
print(str_upper)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
str4= "I like apple"

new_text= str4.replace("apple", "orange")
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
my_list= [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

7. 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
list1= [1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
list2= [1,2,3,4,5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
list3= ['a','b','c','d']
print(list3[1])

b

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list4= [10,20,30,40,50]
reversed_list= list4[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

11. . Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tup= (100,200,300)
print(my_tup)

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
colors= ('red','green','blue','yellow'  )
second_last= colors[-2]
print(second_last)

blue

13. . Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tup1= (10, 20, 5, 15)
minimum= min(tup1)
print(minimum)

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
pets= ('dog','cat','rabbit')
pets_index= pets.index('cat')
print(pets_index)

1

15. . Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits= ('apple','banana','grapes')
if fruits == 'kiwi':
  print("'kiwi' is in the fruits")
else:
  print("'kiwi' is not in the fruits")

'kiwi' is not in the fruits

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set= {'a','b','c'}
print(my_set)

{'b', 'a', 'c'}

17. . Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
num= {1,2,3,4,5}
num.clear()
print(num)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set1= {1,2,3,4}
set1.remove(4)
print(set1)

{1, 2, 3}

19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
setA= {1,2,3}
setB= {3,4,5}
union_set= setA.union(setB)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set3= {1,2,3}
set4= {2,3,4}
intersection_set= set3.intersection(set4)
print(intersection_set)

{2, 3}

21. . Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [1]:
my_dict= {"name": "Neetigya Bajpai", "age":24, "city": "Kanpur"}
print(my_dict.keys())

dict_keys(['name', 'age', 'city'])

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [6]:
prsnl_info= {'name': 'John', 'age': 25}
prsnl_info["country"]= "USA"
print(prsnl_info)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [7]:
data= {'name': 'Alice', 'age': 30}
key_value= data['name']
print(key_value)

Alice

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [9]:
details= {'name': 'Bob', 'age': 22, 'city': 'New York'}
details.pop('age')
print(details)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [12]:
data1= {'name': 'Alice', 'city': 'Paris'}

if "city" in data1:
  print("The key 'city' exists in the dictionary")
else:
  print("The key 'city' does not exist in the dictionary")

The key 'city' exists in the dictionary

26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [13]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = (10, 20, 30, 40, 50)

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced).

In [14]:
import random

# Generate a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print(random_numbers)

[13, 14, 54, 87, 92]

 28. Write a code to create a list with strings and print the element at the third index.

In [15]:
my_list = ['apple', 'Abhishek', 'cherry', 'Mohan']

print(my_list[3])

Mohan

29.  Write a code to combine two dictionaries into one and print the result.

In [16]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

# Combine dict1 and dict2
combined_dict = dict1 | dict2
print(combined_dict)

{'a': 1, 'b': 3, 'c': 4}

30. Write a code to convert a list of strings into a set.

In [17]:
str_list= ['ramesh', 'suresh', 'apple','guava','berry','guava']
# Convert list to set
str_set = set(str_list)

print(str_set)

{'apple', 'berry', 'ramesh', 'guava', 'suresh'}